<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container">
			<header>
				<%= render 'layouts/header' %>
				<%= debug(params) if Rails.env.development? %>
				<!-- 6.3.1  -->
			<section class = "round">
				<% flash.each do |key, value| %>
					<div class ="flash <%= key %>"><%= value %></div>
					<!-- 8.16 -->
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>